.Header {
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    /* justify-content: space-between; */
    background-color: gray;
    padding: 0.25em 0.5em;
    font-size: 1.4em;
}

.Remaining-images {
    color: #282c34;
    align-self: flex-end;
    margin-right: 100px;
}

.Refresh-Button {
    margin-left: 2.5em;
}

h1 {
    margin: 0 auto;
    color: white;
}